#!/bin/sh

. env/bin/activate

export DEBUG=''
export PORT=''
export DATABASE_URL=''
export SMTP_HOST=''
export SMTP_USER=''
export SMTP_PASSWORD=''
export SMTP_PORT=''
export REDIS_HOST=''
export REDIS_PORT=''
export REDIS_DB=''
