{% load thumbnail %}

{% with user=activity.user profile=activity.user.profile %}
<div class="activity">
  <span class="avatar">
    {% if profile.picture %}
      {% thumbnail user.profile.picture '34x34' crop='100%' as image %}
        <a href="{{user.get_absolute_url}}">
          <!-- TODO: Download the resize profile images -->
          <img src="{{user.profile.picture}}" alt="{{user.get_full_name}}" width="48">
        </a>
      {% endthumbnail %}
    {% endif %}
  </span>

  {% if activity.target %}
    {% with target=activity.target %}
      {% if target.image %}
        {% thumbnail target.image '48x48' crop='100%' as image %}
        <span class="avatar">
          <a href="{{target.get_absolute_url}}">
            <img src="{{image.url}}" alt="{{target.image}}">
          </a>
        </span>
        {% endthumbnail %}
      {% endif %}

      <div class="details">
        <a href="{{activity.get_user_url}}">{{user}}</a>
         <span>{{activity.verb}}</span>
         <a href="{{activity.get_target_url}}">{{activity.target}}</a>
         <div class="meta">
           <em class="time">{{activity.created|timesince}} ago</em>
         </div>
      </div>

    {% endwith %}
  {% endif %}
</div>
{% endwith %}
