{% extends 'base.html' %}

{% block content %}
<div class="profile header">
  <div class="container">
    <div class="picture">
      <img src="{{user.profile.picture}}" alt="{{user.profile.username}}">
    </div>
    <h1 class="profile name">Settings for {{ user.username }}</h1>
  </div>
</div>

<div id="main-content">
  <div class="container">
    {% with total_followers=user.followers.count %}
      followers {{total_followers}}
    {% endwith %}
    {% with total_following=user.following.count %}
      following {{total_following}}
    {% endwith %}

    <section>
      <h3>My videos</h3>
      <p>You need to verify your account before you upload videos.</p>
    </section>

  </div>
</div>
{% endblock %}
