{% extends 'base.html' %}

{% block content %}

<div class="profile header">
  <div class="container">
    <div class="picture">
      <img src="{{user.profile.picture}}" alt="{{user.profile.username}}">
    </div>
    <h1 class="profile name">{{ user.username }}</h1>
  </div>
</div>

<div id="main-content">
  <div class="container">
    {% with total_followers=user.followers.count %}
      followers {{total_followers}}
    {% endwith %}
    {% with total_following=user.following.count %}
      following {{total_following}}
    {% endwith %}


    <div class="actions">
      {% if request.user not in user.followers.all %}
        <button type="button"
          name="follow"
          data-id={{user.id}}
          data-action="follow"
          data-url="{% url 'user_follow' %}"
          onclick="follow(this)">Follow</button>
      {% else %}
        <button
          type="button"
          name="unfollow"
          data-id={{user.id}}
          data-action="unfollow"
          data-url="{% url 'user_follow' %}"
          onclick="follow(this)">Unfollow</button>
      {% endif %}
    </div>

    <div class="products">
      <h2>My Store</h2>
      {% for product in products %}
        {% include 'shop/product/_item.html' %}
      {% endfor %}
    </div>

    <div class="links">
      <a href="{% url 'user_list' %}">Back</a>
    </div>
  </div>
</div>
{% endblock %}
