{% extends 'base.html' %}

{% block content %}
<div id="main-content">
  <div class="container">
    <h1>Dashboard</h1>

    {% with total_images_created=request.user.images_created.count %}
      <p>
        You have bookmarked
        <a href="{% url 'images:list' %}">{{total_images_created}} image{{total_images_created|pluralize}}</a>
      </p>
    {% endwith %}

    <h2>Activities</h2>
    <div class="activities">
      {% for activity in activities %}
        {% include 'activities/activity/detail.html' %}
      {% endfor %}
    </div>

    <h2>Videos</h2>
    <div class="cards">
      {% for card in videos %}
        {% include 'videos/card.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
