{% extends 'base.html' %}

{% block banner %}{% endblock %}
{% block content %}
<div id="main-content">
  <div class="container">
    <div class="columns">
      <div class="sidebar one column">
        <div class="notifications widget">
          <ul>
            <li>
              {% with total_images_created=request.user.images_created.count %}
                <span>You have bookmarked</span>
                <a href="{% url 'images:list' %}">{{total_images_created}} image{{total_images_created|pluralize}}</a>
              {% endwith %}
            </li>
          </ul>
        </div>
        <div class="trends widget">
          <h2 class="title">Trending Now</h2>
          <ul>
            <li>
              <a href="">#Trend1</a>
            </li>
            <li>
              <a href="">#Trend2</a>
            </li>
            <li>
              <a href="">#Trend3</a>
            </li>
            <li>
              <a href="">#Trend4</a>
            </li>
            <li>
              <a href="">#Trend5</a>
            </li>
            <li>
              <a href="">#Trend6</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="feed three column">
        <div class="cards">
          {% for card in videos %}
            {% include 'videos/card.html' %}
          {% endfor %}
          {% for card in videos %}
            {% include 'videos/card.html' %}
          {% endfor %}
        </div>
      </div>
      <div class="sidebar secondary two column">
        <div class="ad sidebar">
          banner here
        </div>
        <div class="activities">
          {% for activity in activities %}
            {% include 'activities/activity/detail.html' %}
          {% endfor %}
        </div>
        <div class="recommended">
          <h4 class="title">Who to follow</h4>
          <ul class="profiles list">
            {% for profile in profiles %}
            <li class="profile">
              <a href="{{profile.get_absolute_url}}">
                <span class="avatar">
                  <img src="{{profile.picture}}" alt="{{profile.user}}" />
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
