@import "bourbon/bourbon";
@import "neat/neat";

$neat-grid: (
  columns: 6,
  gutter: 10px,
);
$borderDivider: 1px solid #BDBDBD;

body{
  background: #fafafa;
  font-family: "open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

a{
  color: #4990E2;

  &:active{
    color: darken(#4990E2, 6);
  }
  &:hover{
    color: lighten(#4990E2, 6);
  }
}

.container {
  @include grid-container;
  margin: 0 auto;
  max-width: 88em;
}

.columns{
  @include clearfix;

  .column{
    &.one { @include grid-column(1); }
    &.two { @include grid-column(2); }
    &.three { @include grid-column(3); }
    &.four { @include grid-column(4); }
    &.five { @include grid-column(5); }
    &.six { @include grid-column(6); }
  }
}

.navbar{
  background: #fff;
  border-bottom: $borderDivider;
  height: 48px;

  .logo{
    color: #4990E2;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    position: relative;
    top: 0.25em;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;
    }
  }

  a {
    color: #4A4A4A;
    padding: 1em;
    text-decoration: none;
  }
}

.profile.header {
  background: #269FF0;
  height: 420px;
  position: relative;
}
.profile.header .picture {
  border: 4px solid #fff;
  border-radius: 50%;
  bottom: -90px;
  display: block;
  height: 180px;
  overflow: hidden;
  position: absolute;
  width: 180px;
}
.profile.header .picture img {
  display: block;
}
.profile.header .profile.name {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

form{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
      margin: 0 0 1em 0;
    }
  }
}

.activities {
  border: $borderDivider;

  .activity {
    @include clearfix;
    border-bottom: $borderDivider;
    background: #efefef;
    font-size: 11px;
    padding: 4px 0;

    &:last-child{
      border-bottom: none;
    }

    &:nth-child(2n-1){
      background: #F0F0F0;
    }

    .avatar{
      float: left;
      height: 32px;
      margin: 0 10px 0 4px;
      width: 32px;

      img{
        border: 1px solid #fff;
        border-radius: 50%;
        max-width: 100%;
      }
    }

    .picture {
      float: left;
    }

    .meta{
      color: #9B9B9B;
    }

    a{
      color: #4a4a4a;
    }
  }
}

.ad{
  &.sidebar{
    background: #D8D8D8;
    border: 1px solid #979797;
    height: 320px;
  }
}

.recommended{
  .title{
    font-size: 20px;
    text-align: center;
  }

  .profiles{
    &.list{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .profile{
      display: inline-block;
      margin: 10px;
      width: 80px;
    }
    .avatar{
      height: 18px;
      width: 18px;

      img{
        border: 4px solid #fff;
        border-radius: 50%;
        max-width: 100%;
      }
    }
  }
}

#footer{
  border-top: $borderDivider;
  color: #999;
  margin: 4em 0 0 0;
  padding: 0.75em 0.25em;
}
