{% load thumbnail %}

<div class="card">
  <div class="header">
    <div class="avatar">
      avatar
    </div>
    <div class="user details">
      <span class="name">username</span>
      <span class="meta">location</span>
    </div>
  </div>
  <div class="picture">
    <a href="">&nbsp;</a>
  </div>
  <div class="description">
    <h3 class="title">
      <a href="">Title for this video *not clickbait*</a>
    </h3>
    <p>price: 99.99&dollar;</p>
    <div class="meta">
      <span>0 likes</span>
      <span>0 views</span>
      <span class="actions">
        <span>Action</span>
      </span>
    </div>
  </div>
</div>
