{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main-content">
  <div class="container">
    <h1>Your shopping cart</h1>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          <tr>
            <td>
              <a href="{{product.get_absolute_url}}">
                {{item.product.name}}
              </a>
            </td>
            <td>
              <form class="" action="{% url 'shop:cart_add' item.product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                <button type="submit" name="update">Add</button>
              </form>
            </td>
            <td>{{item.price}}</td>
            <td>{{item.total_price}}</td>
            <td>
              <form class="" action="{% url 'shop:cart_remove' item.product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="remove">Remove</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="">
      <a href="{% url 'shop:product_list' %}">Continue shopping</a>
      <a href="{% url 'shop:order_create' %}">Checkout</a>
    </div>
  </div>
</div>
{% endblock %}
